<fm-topnavbar>Loading...</fm-topnavbar>
<div class="row">
    <div class="col">
        <fm-dotwDotm dotw="SUN" [dotm]=6> </fm-dotwDotm>
    </div>
    <div class="col">
        <fm-dotwDotm dotw="MON" [dotm]=7> </fm-dotwDotm>
    </div><div class="col">
        <fm-dotwDotm dotw="TUE" [dotm]=8> </fm-dotwDotm>
    </div>
    <div class="col">
        <fm-dotwDotm dotw="WED" [dotm]=9> </fm-dotwDotm>
    </div>
    <div class="col">
        <fm-dotwDotm dotw="THU" [dotm]=10> </fm-dotwDotm>
    </div>
    <div class="col">
        <fm-dotwDotm dotw="FRI" [dotm]=11> </fm-dotwDotm>
    </div>
    <div class="col">
        <fm-dotwDotm dotw="SAT" [dotm]=12> </fm-dotwDotm>
    </div>
</div>