<div class="row">
    <div class="col">
        <fm-dotwDotm dotw="SUN" [dotm]=13> </fm-dotwDotm>
    </div>
    <div class="col">
        <fm-dotwDotm dotw="MON" [dotm]=14> </fm-dotwDotm>
    </div><div class="col">
        <fm-dotwDotm dotw="TUE" [dotm]=15> </fm-dotwDotm>
    </div>
    <div class="col">
        <fm-dotwDotm dotw="WED" [dotm]=15> </fm-dotwDotm>
    </div>
    <div class="col">
        <fm-dotwDotm dotw="THU" [dotm]=16> </fm-dotwDotm>
    </div>
    <div class="col">
        <fm-dotwDotm dotw="FRI" [dotm]=17> </fm-dotwDotm>
    </div>
    <div class="col">
        <fm-dotwDotm dotw="SAT" [dotm]=18> </fm-dotwDotm>
    </div>
</div>